<div class="cart-container">
  <div>
    <h2 class="cart-title">{{ 'CART.TITLE' | translate }}</h2>

    <table class="cart-table" *ngIf="cartItems.length > 0; else emptyCart">
      <thead>
      <tr>
        <th>{{ 'CART.TOUR' | translate }}</th>
        <th>{{ 'CART.DATE' | translate }}</th>
        <th>{{ 'CART.QUANTITY' | translate }}</th>
        <th>{{ 'CART.PRICE_PER_PERSON' | translate }}</th>
        <th>{{ 'CART.TOTAL' | translate }}</th>
        <th>{{ 'CART.REMOVE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td class="tour-info">
          <img [src]="item.images[0].url" [alt]="item.name">
          <span>{{ item.name }}</span>
        </td>
        <td>22.01.2025</td>
        <td>
          <button class="qty-btn" (click)="decreaseQuantity(item)">-</button>
          <span class="qty">{{ item.quantity }}</span>
          <button class="qty-btn" (click)="increaseQuantity(item)">+</button>
        </td>
        <td>${{ item.price }}</td>
        <td>${{ item.quantity * item.price }}</td>
        <td><button class="remove-btn" (click)="removeFromCart(item.id)">✖</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #emptyCart>
    <p class="empty-message">{{ 'CART.EMPTY_MESSAGE' | translate }}</p>
  </ng-template>

  <div class="cart-footer">
    <div class="coupon">
      <input type="text" [placeholder]="'CART.COUPON_PLACEHOLDER' | translate">
      <button class="apply-btn">{{ 'CART.APPLY_COUPON' | translate }}</button>
    </div>
    <div class="total">
      <p>{{ 'CART.TOTAL_QUANTITY' | translate }}: <span style="font-weight: bold">{{ overallQuantity }}</span></p>
      <p>{{ 'CART.GRAND_TOTAL' | translate }}: <span style="font-weight: bold">${{ grandTotal }}</span></p>
      <div class="line-after"></div>
      <button class="checkout-btn" (click)="buyItems()">{{ 'CART.CHECKOUT' | translate }}</button>
    </div>
  </div>
</div>
