<div class="cart-container">
  <div>
    <h2 class="cart-title">Корзина туров</h2>

    <table class="cart-table" *ngIf="cartItems.length > 0; else emptyCart">
      <thead>
      <tr>
        <th>Тур</th>
        <th>Дата</th>
        <th>Количество</th>
        <th>Цена за человека</th>
        <th>Итого</th>
        <th>Удалить</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td class="tour-info">
          <img [src]="item.images[0].url" [alt]="item.name">
          <span>{{ item.name }}</span>
        </td>
        <td>22.01.2025</td>
        <td>
          <button class="qty-btn" (click)="decreaseQuantity(item)">-</button>
          <span class="qty">{{ item.quantity }}</span>
          <button class="qty-btn" (click)="increaseQuantity(item)">+</button>
        </td>
        <td>${{ item.price }}</td>
        <td>${{ item.quantity * item.price }}</td>
        <td><button class="remove-btn" (click)="removeFromCart(item.id)">✖</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Если корзина пуста -->
  <ng-template #emptyCart>
    <p class="empty-message">Ваша корзина пуста</p>
  </ng-template>

  <div class="cart-footer">
    <div class="coupon">
      <input type="text" placeholder="Купон">
      <button class="apply-btn">Применить</button>
    </div>
    <div class="total">
      <p>Общее количество: <span style="font-weight: bold">{{ overallQuantity }}</span></p>
      <p>Итоговая сумма: <span style="font-weight: bold">${{ grandTotal }}</span></p>
      <div class="line-after"></div>
      <button class="checkout-btn" (click)="buyItems()">Оформить заказ</button>
    </div>
  </div>
</div>
