<div class="tours-page-body">
  <div class="search-body">
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="{{ 'tours.search_placeholder' | translate }}">
        <button class="search-btn">🔍 {{ 'tours.search_btn' | translate }}</button>
      </div>
      <div class="filters">
        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.location' | translate }} ▼</button>
          <p class="selected-value">{{ 'tours.locations.0' | translate }}</p>
          <ul class="dropdown-menu">
            <li>{{ 'tours.locations.0' | translate }}</li>
            <li>{{ 'tours.locations.1' | translate }}</li>
            <li>{{ 'tours.locations.2' | translate }}</li>
            <li>{{ 'tours.locations.3' | translate }}</li>
          </ul>
        </div>

        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.city' | translate }} ▼</button>
          <p class="selected-value">{{ 'tours.cities.0' | translate }}</p>
          <ul class="dropdown-menu">
            <li>{{ 'tours.cities.0' | translate }}</li>
            <li>{{ 'tours.cities.1' | translate }}</li>
            <li>{{ 'tours.cities.2' | translate }}</li>
            <li>{{ 'tours.cities.3' | translate }}</li>
          </ul>
        </div>

        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.durations' | translate }} ▼</button>
          <p class="selected-value">{{ 'tours.durations.0' | translate }}</p>
          <ul class="dropdown-menu">
            <li>{{ 'tours.durations.0' | translate }}</li>
            <li>{{ 'tours.durations.1' | translate }}</li>
            <li>{{ 'tours.durations.2' | translate }}</li>
            <li>{{ 'tours.durations.3' | translate }}</li>
          </ul>
        </div>

        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.price' | translate }} ▼</button>
          <p class="selected-value">{{ 'tours.prices.1' | translate }}</p>
          <ul class="dropdown-menu">
            <li>{{ 'tours.prices.0' | translate }}</li>
            <li>{{ 'tours.prices.1' | translate }}</li>
            <li>{{ 'tours.prices.2' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="login-section">
      <div class="login-content">
        <img src="assets/img_9.png" alt="Gift Icon">
        <div class="login-text">
          <h3>{{ 'tours.account_prompt.title' | translate }}</h3>
          <p>{{ 'tours.account_prompt.description' | translate }}</p>
        </div>
      </div>
      <button class="login-btn">{{ 'tours.account_prompt.login' | translate }}</button>
    </div>
  </div>

  <div class="top_tours_section">
    <div class="carousel-container">
      <div class="carousel-wrapper">
        <div class="testimonials">
          <div class="card-tour" *ngFor="let tour of Tours">
            <div class="card" routerLink="/tour/1">
              <img [src]="tour.cover_image" alt="Monumen National" class="card-image">
              <div class="card-content">
                <div class="title">{{tour.title}}</div>
                <div class="details_tour">
                  <div class="location">
                    <img src="assets/location.8d2d075.svg" alt="Location Icon">
                    <span>Central Jakarta</span>
                  </div>
                  <div class="rating">
                    <img src="assets/img_5.png" alt="Star">
                    <img src="assets/img_5.png" alt="Star">
                    <img src="assets/img_5.png" alt="Star">
                    <img src="assets/img_5.png" alt="Star">
                    <img src="assets/img_7.png" alt="Half Star">
                    <span>4.8</span>
                  </div>
                </div>
                <div style="width: 100%">
                  <p class="price">289 000 <span>{{ 'tours.price_per_day' | translate }}</span></p>
                  <button class="booking-button">{{ 'tours.booking' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px">
      <button class="more_tour">{{ 'tours.more_tours' | translate }}</button>
    </div>
  </div>
</div>
