<div class="tours-page-body">
  <div class="search-body">
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="{{ 'tours.search_placeholder' | translate }}" [(ngModel)]="searchInput">
        <button class="search-btn" (click)="searchTour()">🔍 {{ 'tours.search_btn' | translate }}</button>
      </div>
      <div class="filters">
        <div class="filter" (click)="toggleDropdown()">
          <button class="dropdown-btn">{{ 'tours.filters.location' | translate }} ▼</button>
          <p class="selected-value">{{ 'tours.locations.' + selectedContinentId | translate }}</p>
          <ul class="dropdown-menu" *ngIf="!dropdownOpen">
            <li *ngFor="let continent of ['AL', 'AF', 'AS', 'EU', 'NA', 'SA', 'OC', 'AN']; let i = index"
                (click)="filterByContinent(continent, i)">
              {{ 'tours.locations.' + (i) | translate }}
            </li>
          </ul>
        </div>

        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.city' | translate }} ▼</button>
          <p class="selected-value">{{ selectedCountry }}</p>
          <ul class="dropdown-menu">
            <li *ngFor="let country of countries" (click)="filterByCountry(country.id)">
              {{ country.name }}
            </li>
          </ul>
        </div>


        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.durations' | translate }} ▼</button>
          <p class="selected-value">{{ selectedDuration }}день</p>
          <ul class="dropdown-menu">
            <li (click)="filterByDuration('1-6')">{{ 'tours.durations.0' | translate }}</li>
            <li (click)="filterByDuration('7-14')">{{ 'tours.durations.1' | translate }}</li>
            <li (click)="filterByDuration('15-29')">{{ 'tours.durations.2' | translate }}</li>
            <li (click)="filterByDuration('30-')">{{ 'tours.durations.3' | translate }}</li>
          </ul>
        </div>

        <div class="filter">
          <button class="dropdown-btn">{{ 'tours.filters.price' | translate }} ▼</button>
          <p class="selected-value">{{ selectedPrice }}₸</p>
          <ul class="dropdown-menu">
            <li (click)="filterByPrice('100000-300000')">{{ 'tours.prices.0' | translate }}</li>
            <li (click)="filterByPrice('300000-500000')">{{ 'tours.prices.1' | translate }}</li>
            <li (click)="filterByPrice('500000-1000000')">{{ 'tours.prices.2' | translate }}</li>
            <li (click)="filterByPrice('1000000-')">{{ 'tours.prices.3' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="login-section">
      <div class="login-content">
        <img src="assets/img_9.png" alt="Gift Icon">
        <div class="login-text">
          <h3>{{ 'tours.account_prompt.title' | translate }}</h3>
          <p>{{ 'tours.account_prompt.description' | translate }}</p>
        </div>
      </div>
      <button class="login-btn">{{ 'tours.account_prompt.login' | translate }}</button>
    </div>
  </div>

  <div class="top_tours_section">
    <div class="carousel-container">
      <div class="carousel-wrapper">
        <div class="testimonials">
          <div class="card-tour" *ngFor="let tour of Tours; let i = index">
            <div class="card" [routerLink]="['/tour', tour.id]">
              <img [src]="tour.cover_image" alt="Monumen National" class="card-image">
              <div class="card-content">
                <div class="title">{{tour.title}}</div>
                <div class="details_tour">
                  <div class="location">
                    <img src="assets/location.8d2d075.svg" alt="Location Icon">
                    <span>{{getCountriesList(i)}}</span>
                  </div>
                  <div class="rating">
                    <ng-container *ngFor="let star of getListRatingStar(tour.rating)">
                      <img [src]="star" alt="Star">
                    </ng-container>
                    <span>{{ tour.rating.toFixed(1) }}</span>
                  </div>
                </div>
                <div style="width: 100%">
                  <p class="price">{{tour.price}}₸<span>/{{ tour.duration_days }} {{ 'DAY' | translate}} </span></p>
                  <button class="booking-button">{{ 'tours.booking' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px">
      <button class="more_tour" (click)="loadMore()" *ngIf="nextPage">{{ 'tours.more_tours' | translate }}</button>
    </div>
  </div>
</div>
