<div *ngIf="tour as t">
  <div class="images-tour">
    <section class="gallery">
      <div class="gallery-main">
        <img *ngIf="t.cover_image" [src]="t.cover_image" alt="Gallery main">
      </div>
      <div class="gallery-side">
        <div *ngFor="let photo of t.tour_images.slice(0, 2)" class="gallery-item">
          <img [src]="photo" alt="Gallery side">
        </div>
        <button class="more-image" *ngIf="t.tour_images.length > 2" (click)="toggleShowAll()">
          {{ showAll ? 'Скрыть' : 'Показать еще' }}
        </button>
      </div>
    </section>

    <nav class="menu">
      <ul>
        <li><a (click)="scrollTo('tourCard')" [ngClass]="{'active': selectedSection === 'tourCard'}">{{ 'menu.description' | translate }}</a></li>
        <li><a (click)="scrollTo('about')" [ngClass]="{'active': selectedSection === 'about'}">{{ 'menu.about' | translate }}</a></li>
        <li><a (click)="scrollTo('information')" [ngClass]="{'active': selectedSection === 'information'}">{{ 'menu.information' | translate }}</a></li>
        <li><a (click)="scrollTo('location')" [ngClass]="{'active': selectedSection === 'location'}">{{ 'menu.location' | translate }}</a></li>
        <li><a (click)="scrollTo('reviews')" [ngClass]="{'active': selectedSection === 'reviews'}">{{ 'menu.reviews' | translate }}</a></li>
      </ul>
    </nav>
  </div>
  <div *ngIf="!isReviewBody" >
    <div #tourCard id="tourCard" class="card">
      <div class="description-container">
        <h2 class="title">{{ t.title }}</h2>

        <div class="rating">
          <ng-container *ngFor="let star of getListRatingStar(tour.rating)">
            <img [src]="star" alt="Star" class="stars">
          </ng-container>
          <span class="rating-text">{{ 'tour.rating' | translate: {rating: tour.rating.toFixed(1), reviews: '9RB+'} }}</span>
        </div>

        <div class="info">
          <span class="icon">📍</span>
          <span class="info-text">{{ getCountriesList() }}</span>
        </div>
        <div class="info">
          <span class="icon">🏙️</span>
          <span class="info-text">{{ getCityList() }}</span>
        </div>

        <div class="info">
          <span class="icon">⏰</span>
          <span class="info-text">{{t.duration}}</span>
        </div>

        <p class="description">{{ t.description | truncate:50 }} <span class="read-more" *ngIf="t.description.split(' ').length > 50" (click)="openFullText(t.description)">{{ 'tour.read_more' | translate }}</span></p>
      </div>
      <div class="price-section-1">
        <div class="price-text">
          <span class="price-label">{{ 'price.start_from' | translate }}</span>
          <span class="price">{{ t.price_list }}</span>
        </div>
        <button class="ticket-button" routerLink="/{{isAuthUser()}}">{{ 'price.see_ticket' | translate }}</button>
      </div>
    </div>

    <div #information id="information" class="information">
      <section class="info-box">
        <div class="section">
          <h2 class="section-title">{{ 'information.important' | translate }}</h2>
          <ul class="section-list">
            <li *ngFor="let rule of t.events">{{ rule }}</li>
          </ul>
        </div>

        <div class="section">
          <h2 class="section-title">{{ 'information.highlights' | translate }}</h2>
          <ul class="section-list">
            <li *ngFor="let rule of t.highlights">{{ rule }}</li>
          </ul>
        </div>
      </section>
    </div>
    <div #location id="location" class="location-tour">
      <h2 class="location-title">{{ 'location.title' | translate }}</h2>
      <section class="location-section">
        <div class="map-container">
          <div class="location-info">
            <p class="location-address">
              <span class="location-icon">📍</span>
              {{ getCityList() }}
            </p>
            <div class="map-links">
              <a href="{{t.map_links.google}}"
                 target="_blank" class="map-link">
                <img src="assets/google-map.png" alt="Google Maps"> {{ 'location.maps.google' | translate }}
              </a>
              <a href="{{t.map_links.apple}}"
                 target="_blank" class="map-link">
                <img src="assets/apple-map.png" alt="Apple Maps"> {{ 'location.maps.apple' | translate }}
              </a>
            </div>
          </div>
          <img [src]="t.map_image" alt="{{ 'location.map' | translate }}" class="map-image">
        </div>
      </section>
    </div>
  </div>
  <div *ngIf="isReviewBody" #reviews id="reviews" class="review-body">
    <div class="review-head" (click)="isAuthUserTest()">
      <div style="margin-bottom: 10px">
        <span *ngIf="!isUserReview">{{ 'reviews_tour.share_experience' | translate }}</span>
        <span *ngIf="isUserReview">Измени свой отзыв</span>
      </div>
      <div class="rating-stars">
        <input type="radio" id="star5" name="rating" value="5" (click)="openReviewForm(5)">
        <label for="star5">&#9733;</label>

        <input type="radio" id="star4" name="rating" value="4" (click)="openReviewForm(4)">
        <label for="star4">&#9733;</label>

        <input type="radio" id="star3" name="rating" value="3" (click)="openReviewForm(3)">
        <label for="star3">&#9733;</label>

        <input type="radio" id="star2" name="rating" value="2" (click)="openReviewForm(2)">
        <label for="star2">&#9733;</label>

        <input type="radio" id="star1" name="rating" value="1" (click)="openReviewForm(1)">
        <label for="star1">&#9733;</label>
      </div>
    </div>

    <div class="review-form" *ngIf="isModalFormReview">
      <div class="review-div">
        <div class="review-text-section">
          <label for="review-text">Отзыв (Вы оценили {{selectedRating}}/5)</label>
          <textarea id="review-text" placeholder="Поделитесь своим впечатлением" [(ngModel)]="text"></textarea>
        </div>

        <div class="review-info">
          <div class="review-confirmation">
            <input type="checkbox" id="confirm" checked disabled>
            <label for="confirm">{{getComment()}}</label>
          </div>
        </div>

        <div class="photo-upload">
          <div class="photo-box">
            <span class="photo-icon">+</span>
            <input type="file" (change)="onFileChange($event)" multiple accept="image/*">
            <p>Добавьте фотографии</p>
            <small>{{ 'reviews_tour.add_photos' | translate }}</small>
          </div>
          <div class="preview-images">
            <img style="height: 60px" *ngFor="let img of selectedImages" [src]="img | filePreview" class="preview-img" alt="">
          </div>
        </div>

        <p class="review-rules">
          {{ 'reviews_tour.review_policy' | translate }}.
        </p>

        <div class="review-footer">
          <div class="user-info">
            <div class="user-avatar">{{tour.title.slice(0,2).toUpperCase()}}</div>
            <span class="user-name">{{tour.title}}</span>
          </div>
          <div class="review-buttons">
            <button class="btn cancel" (click)="isModalFormReview = false">{{ 'reviews_tour.cancel' | translate }}</button>
            <button class="btn submit" (click)="submitReview()">{{ 'reviews_tour.submit' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isUserReview" style="width: 80%; margin-bottom: 50px">
        <h3>You Review</h3>
        <div class="review-container">
          <div class="review-header">
            <div class="profile">
              <div class="avatar">{{user().username.slice(0, 1).toUpperCase()}}.{{user().username.slice(1, 2).toUpperCase()}}</div>
              <div class="user-info">
                <h3 class="user-name">{{user().username.toUpperCase()}}</h3>
              </div>
            </div>
            <span class="review-date">{{ UserReview?.date|date:"d.m.Y H:00" }}</span>
          </div>

          <div class="review-content">
            <h2 class="review-title">{{UserReview!.text | truncate:5}}</h2>
            <p class="review-text">
              {{UserReview?.text}}
            </p>
          </div>

          <div class="review-images">
            <img *ngFor="let i of UserReview?.review_images" [src]="i" alt="Review Image 1">
          </div>

          <div class="review-feedback">
            <span>Helpful</span>
            <span>Not helpful</span>
          </div>
        </div>
    </div>

    <div class="review-container" *ngFor="let r of Reviews">
      <div class="review-header">
        <div class="profile">
          <div class="avatar">{{r.user.username.slice(0, 1).toUpperCase()}}.{{r.user.username.slice(1, 2).toUpperCase()}}</div>
          <div class="user-info">
            <h3 class="user-name">{{r.user.username.toUpperCase()}}</h3>
          </div>
        </div>
        <div>
          <span class="review-date">{{ r.date|date:"d.m.Y H:00" }}</span>
          <div style="display: flex; margin-top: 10px">
            <img style="width: 20px" src="assets/img_5.png" alt="star" *ngFor="let x of getStarArray(r.star - 0)">
            <img style="width: 20px; margin-bottom: -2px" src="assets/img_10.png" alt="star" *ngFor="let x of getStarArray(5 -r.star)">
          </div>
        </div>
      </div>

      <div class="review-content">
        <h2 class="review-title">{{r.text | truncate:5}}</h2>
        <p class="review-text">
          {{r.text}}
        </p>
      </div>

      <div class="review-images">
        <img *ngFor="let i of r.review_images" [src]="i" alt="Review Image 1">
      </div>

      <div class="review-feedback">
        <span>Helpful</span>
        <span>Not helpful</span>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="showAll" (click)="closeReview()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="arrow left" (click)="prevReview(); $event.stopPropagation()">
        &#10094;
      </button>
      <img [src]="t.tour_images[selectedIndex]" alt="Review Screenshot" />
      <button class="arrow right" (click)="nextReview(); $event.stopPropagation()">
        &#10095;
      </button>
    </div>
  </div>
</div>
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-2">
    <span class="close-2" (click)="closeModal()">&times;</span>
    <p>{{ fullText }}</p>
  </div>
</div>
